packages = [
	"core",
	"navball",
	"debug_system",
	"test_parts"
]


in_control = "vehicle_0"
in_focus = "vehicle_0"

system = "debug_system:systems/system.toml"
uid = 1
t = 100292134332.0


[[entity]]
	id = 1
	type = "building"
	building = "debug_system:buildings/launchpad.toml"
	in_body = "Earth"
	[entity.rel_pos]
		x = 6361_528.0
		y = 100.0
		z = 0.0 
	[entity.rel_rot]
		x = 0.0
		y = 0.707
		z = 0.0
		w = 0.707
