
description = "A very cool testing vehicle"
packages = ["test_parts"]
part_id = 4
piece_id = 4

[[part]]	
	id = 1
	proto = "test_parts:parts/capsule/part_capsule.toml"
[[part]]
	id = 2
	proto = "test_parts:parts/fuel_tank/part_fuel_tank.toml"
[[part]]
	id = 3
	proto = "test_parts:parts/fuel_tank/part_fuel_tank.toml"
[[part]] 
	id = 4
	proto = "test_parts:parts/engine/part_engine.toml"

[[wire]]
	from = 1
	fmachine = "capsule"
	fport = "Throttle"
	to = 4
	tmachine = "main_engine"
	tport = "Throttle"	
	

[[piece]]
	root = true
	id = 1		
	part = 1
	node = "p_root"
	[piece.pos]
		x = 0.0
		y = 0.0
		z = 0.0
	[piece.rot]
		x = 0.0
		y = 0.0
		z = 0.0
		w = 1.0		

[[piece]]
	id = 2
	part = 2
	node = "p_root"
	[piece.link]
		to = 1
		welded = true 
		from_attachment = "m_attach_top"
		to_attachment = "m_attach_bottom"
		
	[piece.pos]
		x = 0.0
		y = 0.0
		z = -2.0
	[piece.rot]
		x = 0.0
		y = 0.0
		z = 0.0
		w = 1.0

[[piece]]
	id = 3
	part = 3
	node = "p_root"
	[piece.link]
		to = 2
		welded = true 
		from_attachment = "m_attach_top"
		to_attachment = "m_attach_bottom"
		
	[piece.pos]
		x = 0.0
		y = 0.0
		z = -4.0
	[piece.rot]
		x = 0.0
		y = 0.0
		z = 0.0
		w = 1.0

[[piece]]
	id = 4
	part = 4
	node = "p_root"
	[piece.link]
		to = 3
		welded = true
		from_attachment = "m_attach_top"
		to_attachment = "m_attach_bottom"
	[piece.pos]
		x = 0.0
		y = 0.0
		z = -6.0
	[piece.rot]
		x = 0.0
		y = 0.0
		z = 0.0
		w = 1.0

